<table class="commod_table">
<tr>
    <th>&nbsp;</th>
    <th>01.01.2018</th>
    <th>01.04.2018</th>
    <th>01.07.2018</th>
    <th>01.10.2018</th>
    <th>01.01.2019</th>
    <th>20.03.2019</th>
    <th>03.04.2019</th>
</tr>
<tr>
    <td>CRB Jefferies</td>
    <td>192.34</td>
    <td>192.34</td>
    <td>197.5</td>
    <td>197.79</td>
    <td>170.39</td>
    <td>185.6</td>
    <td>186.85</td>
</tr>
<tr>
    <td>Brent, $/bbl</td>
    <td>68.02</td>
    <td>68.02</td>
    <td>77.3</td>
    <td>84.98</td>
    <td>54.91</td>
    <td>68.5</td>
    <td>69.53</td>
</tr>
<tr>
    <td>Gold, $/ounce</td>
    <td>1371.6</td>
    <td>1371.6</td>
    <td>1264.7</td>
    <td>1203.0</td>
    <td>1283.35</td>
    <td>1301.7</td>
    <td>1296.15</td>
</tr>
<tr>
    <td>Silver, $/ounce</td>
    <td>16.811</td>
    <td>16.811</td>
    <td>16.16</td>
    <td>14.694</td>
    <td>15.523</td>
    <td>15.318</td>
    <td>15.117</td>
</tr>
</table>
