<table class="fc_table">
<tr>
    <th>Эмитент</th>
    <th>P/E</th>
    <th>P/BV</th>
    <th>EV/EBITDA(EBIT)</th>
    <th>ROE, %</th>
    <th>Цена текущая</th>
    <th>Цена прогнозная</th>
    <th>Потенциал</th>
    <th>Ожидаемая див. доходность, %</th>
</tr>
<tr>
    <td>ПАО "Газпром"</td>
    <td>4.01</td>
    <td>0.28</td>
    <td>6.78</td>
    <td>7.0</td>
    <td>156.15</td>
    <td>163.0</td>
    <td>4.39</td>
    <td>6.73</td>
</tr>
<tr>
    <td>ПАО "Лукойл"</td>
    <td>6.78</td>
    <td>1.03</td>
    <td>4.81</td>
    <td>15.0</td>
    <td>5963.5</td>
    <td>6270.0</td>
    <td>5.14</td>
    <td>3.69</td>
</tr>
<tr>
    <td>ПАО "Газпром нефть" </td>
    <td>4.2</td>
    <td>0.79</td>
    <td>2.92</td>
    <td>19.0</td>
    <td>327.95</td>
    <td>369.0</td>
    <td>12.52</td>
    <td>11.2</td>
</tr>
<tr>
    <td>ПАО АНК "Башнефть"</td>
    <td>3.58</td>
    <td>0.77</td>
    <td>2.33</td>
    <td>22.0</td>
    <td>1979.5</td>
    <td>2320.0</td>
    <td>17.2</td>
    <td>5.86</td>
</tr>
<tr>
    <td>ПАО "Сбербанк"</td>
    <td>5.56</td>
    <td>1.2</td>
    <td></td>
    <td>22.0</td>
    <td>223.54</td>
    <td>234.0</td>
    <td>4.68</td>
    <td>6.91</td>
</tr>
<tr>
    <td>ПАО "Северсталь" </td>
    <td>6.5</td>
    <td>4.37</td>
    <td>4.64</td>
    <td>67.0</td>
    <td>1047.8</td>
    <td>1080.0</td>
    <td>3.07</td>
    <td>14.61</td>
</tr>
<tr>
    <td>ПАО "НЛМК"</td>
    <td>6.94</td>
    <td>2.41</td>
    <td>6.28</td>
    <td>35.0</td>
    <td>175.22</td>
    <td>193.0</td>
    <td>10.15</td>
    <td>7.2</td>
</tr>
<tr>
    <td>ПАО ГМК "Норильский Никель"</td>
    <td>11.12</td>
    <td>9.6</td>
    <td>6.48</td>
    <td>86.0</td>
    <td>14138.0</td>
    <td>16400.0</td>
    <td>16.0</td>
    <td>7.2</td>
</tr>
<tr>
    <td>АК "Алроса" (ПАО)</td>
    <td>8.07</td>
    <td>2.95</td>
    <td>5.11</td>
    <td>37.0</td>
    <td>94.17</td>
    <td>110.0</td>
    <td>16.81</td>
    <td>8.68</td>
</tr>
<tr>
    <td>МРСК Центра и  Приволжья</td>
    <td>2.6</td>
    <td>0.56</td>
    <td>2.0</td>
    <td>21.0</td>
    <td>0.2786</td>
    <td>0.31</td>
    <td>11.27</td>
    <td>15.41</td>
</tr>
<tr>
    <td>ПАО «ФСК ЕЭС»</td>
    <td>2.29</td>
    <td>0.25</td>
    <td>3.16</td>
    <td>11.0</td>
    <td>0.1642</td>
    <td>0.18</td>
    <td>9.62</td>
    <td>10.92</td>
</tr>
<tr>
    <td>ПАО «Мосэнерго»</td>
    <td>4.06</td>
    <td>0.32</td>
    <td>1.48</td>
    <td>8.0</td>
    <td>2.183</td>
    <td>2.32</td>
    <td>6.28</td>
    <td>6.16</td>
</tr>
<tr>
    <td>ПАО «Россети»</td>
    <td>1.53</td>
    <td>0.12</td>
    <td>3.54</td>
    <td>8.0</td>
    <td>0.9716</td>
    <td>1.0</td>
    <td>2.92</td>
    <td>16.08</td>
</tr>
<tr>
    <td>ПАО КТК</td>
    <td>3.36</td>
    <td>1.23</td>
    <td>3.67</td>
    <td>37.0</td>
    <td>190.8</td>
    <td>245.0</td>
    <td>28.41</td>
    <td>14.01</td>
</tr>
</table>
