<table class="mmvb_table">
<tr>
    <th>Акции, участвующие в расчете индекса "ММВБ 10"</th>
<th>Вес</th><th>Цена, посл</th><th>Капит-я млрд руб</th></tr>
<tr>
<td>Магнит ао</td><td>10.95%</td><td>4280.5</td><td>435.87</td></tr>
<tr>
<td>Сбербанк</td><td>10.32%</td><td>211</td><td>4 730.17</td></tr>
<tr>
<td>МосБиржа</td><td>10.44%</td><td>95.1</td><td>216.60</td></tr>
<tr>
<td>ГАЗПРОМ ао</td><td>9.8%</td><td>159.49</td><td>3 775.22</td></tr>
<tr>
<td>Сбербанк-п</td><td>10.03%</td><td>182.38</td><td>4 730.17</td></tr>
<tr>
<td>АЛРОСА ао</td><td>9.77%</td><td>100.65</td><td>741.50</td></tr>
<tr>
<td>ЛУКОЙЛ</td><td>10.09%</td><td>5205</td><td>3 900.75</td></tr>
<tr>
<td>Роснефть</td><td>9.45%</td><td>420.85</td><td>4 448.06</td></tr>
<tr>
<td>ВТБ ао</td><td>9.68%</td><td>0.03753</td><td>485.18</td></tr>
<tr>
<td>ГМКНорНик</td><td>9.47%</td><td>13296</td><td>2 102.29</td></tr>
</table>
