<table class="portfolio_table">
<tr>
    <th>Эмитент</th>
    <th>Доходность, %</th>
    <th>Дата оферты</th>
    <th>Цена текущая</th>
</tr>
<tr>
    <td>Роснефть 002Р-04</td>
    <td>9.0</td>
    <td>09.02.2023</td>
    <td>95.8</td>
</tr>
<tr>
    <td>Роснефть 001Р-04</td>
    <td>8.91</td>
    <td>27.04.2023</td>
    <td>99.74</td>
</tr>
<tr>
    <td>РЖД БО-001Р-01R</td>
    <td>8.73</td>
    <td>30.05.2023</td>
    <td>100.49</td>
</tr>
<tr>
    <td>Мегафон БО-001Р-03</td>
    <td>8.55</td>
    <td>03.10.2022</td>
    <td>98.44</td>
</tr>
<tr>
    <td>Транснефть ПАО БО-06</td>
    <td>8.11</td>
    <td>30.08.2022</td>
    <td>103.94</td>
</tr>
<tr>
    <td>Ростелеком ПАО 001Р-03R</td>
    <td>8.61</td>
    <td>15.11.2022</td>
    <td>97.75</td>
</tr>
<tr>
    <td>Газпромнефть 001Р-03R</td>
    <td>8.65</td>
    <td>17.10.2022</td>
    <td>98.14</td>
</tr>
<tr>
    <td>СИБУР Холдинг об 10</td>
    <td>8.21</td>
    <td>23.03.2021</td>
    <td>104.39</td>
</tr>
<tr>
    <td>Сбербанк БО 001Р-04R</td>
    <td>8.22</td>
    <td>27.08.2021</td>
    <td>97.5</td>
</tr>
<tr>
    <td>Сбербанк БО 001Р-03R</td>
    <td>8.17</td>
    <td>08.12.2020</td>
    <td>100.0</td>
</tr>
<tr>
    <td>ОФЗ 25083</td>
    <td>7.85</td>
    <td>15.12.2021</td>
    <td>98.309</td>
</tr>
<tr>
    <td>ОФЗ 26223</td>
    <td>8.11</td>
    <td>28.02.2024</td>
    <td>94.194</td>
</tr>
</table>
