<table class="stocks_table">
<tr>
    <th>&nbsp;</th>
    <th>01.10.2018</th>
    <th>01.01.2019</th>
    <th>01.04.2019</th>
    <th>01.07.2019</th>
    <th>01.10.2019</th>
    <th>29.12.2019</th>
    <th>12.01.2020</th>
</tr>
<tr>
    <td>ММВБ</td>
    <td>2406.5</td>
    <td>2406.5</td>
    <td>2521.25</td>
    <td>2526.41</td>
    <td>2526.41</td>
    <td>2526.41</td>
    <td>2526.41</td>
</tr>
<tr>
    <td>РТС</td>
    <td>1192.5</td>
    <td>1094.0</td>
    <td>1202.3</td>
    <td>1203.3</td>
    <td>1203.3</td>
    <td>1203.3</td>
    <td>1203.3</td>
</tr>
<tr>
    <td>S&P500(SPX)</td>
    <td>2924.59</td>
    <td>2510.03</td>
    <td>2867.19</td>
    <td>2873.4</td>
    <td>2873.4</td>
    <td>2873.4</td>
    <td>2873.4</td>
</tr>
<tr>
    <td>DJIA</td>
    <td>26651.21</td>
    <td>23346.24</td>
    <td>26258.42</td>
    <td>26217.76</td>
    <td>26217.76</td>
    <td>26217.76</td>
    <td>26217.76</td>
</tr>
<tr>
    <td>DAX</td>
    <td>12339.03</td>
    <td>10580.19</td>
    <td>11681.99</td>
    <td>11932.57</td>
    <td>11932.57</td>
    <td>11932.57</td>
    <td>11932.57</td>
</tr>
<tr>
    <td>RVI</td>
    <td>25.8</td>
    <td>29.05</td>
    <td>24.74</td>
    <td>23.21</td>
    <td>23.21</td>
    <td>23.21</td>
    <td>23.21</td>
</tr>
<tr>
    <td>VIX</td>
    <td>12.0</td>
    <td>23.22</td>
    <td>13.4</td>
    <td>13.83</td>
    <td>13.83</td>
    <td>13.83</td>
    <td>13.83</td>
</tr>
</table>
